code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
}
html {
  margin: 0;
}
body {
  background: #fff;
  line-height: 1;
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}
a {
  color: blue;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}
.blog-title {
  width: 800px;
  margin: auto;
}
.blog-title h1 {
  margin-top: 30px;
  font-size: 25px;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  line-height: 25px;
  letter-spacing: -1px;
  color: #444;
}
.blog-title h1 a:link,
.blog-title h1 hover,
.blog-title h1 active,
.blog-title h1 visited {
  text-decoration: none;
}
.blog-title h3 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  letter-spacing: 0.5px;
  font-style: italic;
  font-size: 13px;
}
.content {
  margin: 20px auto;
  width: 800px;
}
.content .post,
.content .comments {
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  background-color: white;
  padding: 15px;
  border: 1px dashed #262626;
  line-height: 16px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}
.content .post .title,
.content .comments .title {
  font-family: Georgia,serif;
  font-size: 20px;
  color: #4E443C;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 100;
  margin-bottom: 0;
}
.content .post .title a,
.content .comments .title a {
  text-decoration: none;
}
.content .post .date,
.content .comments .date {
  color: #fff;
  background-color: green;
  font-size: 10px;
  border-width: 1px;
  border-style: dashed;
}
.sidebar {
  width: 200px;
  float: right;
  border: 1px dashed #262626;
  line-height: 20px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}
.sidebar .category h2 {
  font-family: Georgia,serif;
  margin: 0 auto;
  position: relative;
}
.post-tags {
  margin: 0;
  padding: 5px 0 ;
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.post-tags a {
  padding: 3px 6px;
  background: #eee;
  color: #228B22;
  border-radius: 3px;
  text-decoration: none;
}
.post-tags a:hover {
  background: #228B22;
  color: #FFF;
}
.tags-tags {
  margin: 0;
  padding: 15px;
  overflow: hidden;
  border: 1px dashed #262626;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  line-height: 150%;
}
.tags-tags a {
  padding: 1px 2px;
  background: #eee;
  color: #228B22;
  border-radius: 3px;
  text-decoration: none;
}
.tags-tags a:hover {
  background: #228B22;
  color: #FFF;
}
.tags-posts {
  margin-top: 10px;
  padding: 15px;
  overflow: hidden;
  border: 1px dashed #262626;
  line-height: 25px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}
.tags-posts h3 {
  padding: 3px 6px;
  background: #eee;
  color: #228B22;
}
blockquote {
  padding: 8px;
  background-color: #eee;
  border-left: 3px solid #aaa;
  margin: 5px;
  text-indent: 23px;
}
.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
}
.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
}
.btn:active {
  position: relative;
  top: 1px;
}
